<div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 30rem;">
  <h1 class="">{{restaurant.name}}</h1>
  <p>[{{restaurant.Category.name}}]</p>

  <hr />

  <div class="card-body text-primary">
    <ul>
      <li>評論數 : {{restaurant.Comments.length}}</li>
      <li>瀏覽數 : </li>
      <li>收藏數 : </li>
    </ul>
    <a href="javascript:history.back()" class="btn btn-primary">回上一頁</a>
  </div>
</div>